<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "me.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Nischay Malhan</h1>
		<p>20 year old</p>
		<p>Currently pursuing Btech in ECE from IIITD</p>
		<p>Very interested in web development</p>
	</div>
</div>